@import '../../../assets/theme.scss';
.tk-navbar {
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  &__brand img {
    background-size: contain;
    width: 9rem;
    height: 2.6rem;
  }
  &__search{
    input{
      background-color: $tk-disable;
      font-size: $tk-font-tiny;
      border-top-left-radius: $tk-radius-normal;
      border-bottom-left-radius: $tk-radius-normal;
    }
    span{
      background-color: $tk-disable;
      color: $tk-gray;
      border-left-width: 70% ;
      border-top-right-radius: $tk-radius-normal;
      border-bottom-right-radius: $tk-radius-normal;
    }
  }
  &__actions{
    &--load{
      border: 1px solid $tk-outline !important;
    }
    &--login{
      font-size: $tk-font-tiny;
      color: #fff;
      background: $tk-rojo;
    }
  }
}
