<div class="tk-player-info py-0" *ngIf="posts">
  <div class="d-flex flex-row">
    <div class="tk-player-info__avatar d-flex align-items-center">
      <img
        src="https://p16-sign-va.tiktokcdn.com/tos-maliva-avt-0068/29b3d626b82df51d6ce5eef90cfb75fc~c5_100x100.jpeg?x-expires=1653408000&x-signature=W5MQwk%2FZtTaIYMmCBiQmnhu4WaA%3D"
        alt=""
        srcset=""
      />
    </div>

    <div class="d-flex flex-column tk-player-info__user m-3">
      <div class="d-flex flex-row align-items-center">
        <span class="tk-player-info__user--username">BadBunny</span> &nbsp;
        <span class="tk-player-info__user--name">Bad Bunny</span>
        <div class="ms-auto">
          <button
            class="tk-player-info__user--follow btn btn-outline-dark fw-bold px-4 py-1"
          >
            Seguir
          </button>
        </div>
      </div>
      <div>
        {{ posts.title }}
      </div>

      <div class="d-flex align-items-center mt-0">
        <i class="bi bi-music-note-beamed pt-1 me-2"></i>
        <span class="fw-bolder"> original sound - nobody sausage </span>
      </div>
    </div>
  </div>
</div>
