@import '../../../assets/theme.scss';

.tk-discover{

  &__title{
    font-size: $tk-font-tiny;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
  }

  // &__avatar{
  //   img{
  //     width: 2rem;
  //     height: 2rem;
  //     border-radius: 50%;
  //   }
  // }
  // &__user{
  //   &--username{
  //     font-size: $tk-font-normal;
  //     font-weight: 700;
  //   }
  //   &--name{
  //     margin-top: -.2rem;;
  //     font-size: $tk-font-smallest;
  //     color: $tk-gray;
  //   }

  //   &--check{
  //     color: rgb(32 213 236);
  //   }
  // }
}
