<div class="tk-following" *ngIf="suggestions">
  <div class="tk-following__title mt-4 mb-1">Cuentas sugeridas</div>
  <div *ngFor="let item of suggestions" class="d-flex flex-row">
    <span class="tk-following__avatar d-flex align-items-center">
      <img [src]="item.image" alt="" srcset="" />
    </span>

    <div
      class="tk-following__user d-flex flex-column justify-content-center m-3"
    >
      <span class="tk-following__user--username"
        >{{ item.name }}
        <i class="tk-following__user--check bi bi-check-circle-fill px-1"></i
      ></span>
      <span class="tk-following__user--name">{{ item.species }}</span>
    </div>
  </div>
</div>
